body{
  background-color: black;
}
.Hoja-de-vida,
.Estudios-Realizados,
.Experiencia-Laboral,
.Referencias-personales,
.Capacitaciones{
    padding: 80px;
}

.Hoja-de-vida{
    color: black;
    background-color: rgb(228, 175, 31);
}

.Estudios-Realizados{
    background-color: rgba(221, 255, 71, 0.719);
}

.Experiencia-Laboral{
    background-color: rgb(78, 162, 231);
}

.Referencias-personales{
    background-color: rgba(190, 205, 50, 0.774);
}

.Capacitaciones{
    background-color: rgb(228, 175, 31);
}

body{
    margin: 0 auto;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%; 
    grid-template-rows: 1fr 1fr 1fr; 
    row-gap: 1%;
  }

.container,
.Hoja-de-vida{
    grid-row: span 3;
}

.Estudios-Realizados{
    grid-column: span 2;
}

.Referencias-personales{
    grid-column-start: 3;
    grid-row-end: 4;
}

.Experiencia-Laboral{
    grid-column-start: span 2;
}

.Capacitaciones{
    grid-column-start: 2;
    grid-row-end: 4;
}
fieldset{
   width: auto;
   height: auto;
   background-color: black;
  border-radius: 40px;
}